

.service-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-text {
  text-align: center;
  cursor: default;
  margin-top: 12vh;
}

.service-text h2 {
  font-size: 1.8vw;
  color: rgba(255, 255, 255, 1);
  cursor: default;
}

.service-text span {
  color: var(--principal1);
  text-decoration: underline;
}

.service-division {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin-top: 8vh;
  flex-wrap: wrap;
}

.video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.video video {
  width: 100%;
  height: auto;
  border-radius: 20px;
  z-index: 999;
}

.video-box {
  width: 70%;
  height: fit-content;
  background: transparent;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--principal1), var(--principal2));
  filter: blur(35px);
  animation: pulse-top 5s ease infinite;
}


.gestao-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin-top: 15vh;
}



.gestao-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
}

.gestao-text h2 {
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  font-size: 5vw;
  line-height: 11vh;
}

.gestao-text h2 span:nth-child(1) {
  font-weight: 400;
  letter-spacing: 0.23vw;
}

.eficiencia h2 {
  letter-spacing: 0.92vw;
  font-weight: 800;
  color: var(--principal1);
}

.eficiencia h2:nth-child(1) {
  opacity: 0.1;
  filter: blur(1.5px);
}

.eficiencia h2:nth-child(2) {
  opacity: 0.2;
  filter: blur(0.5px);
}

.eficiencia h2:nth-child(3) {
  opacity: 0.4;
  filter: blur(0.1px);
}

.eficiencia h2:nth-child(4) {
  opacity: 0.59;
}

.eficiencia h2:nth-child(5) {
  opacity: 1;
}

.gestao-text h2 span:nth-child(3) {
  font-weight: 900;
}



.gestao-deco {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 80vh;
  position: relative;
}

@keyframes jump-box {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes jump-box2 {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


.first-box {
  background: rgb(35,35,35);
  width: 20vw;
  height: 22vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: jump-box 6s ease-in-out infinite;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}



.first-box h2 {
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  z-index: 899;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.box-img {
  background: rgb(35,35,35);
  width: 20vw;
  height: 22vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 899;
  overflow: hidden;
  animation: jump-box 8s ease-in-out infinite;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.last-box {
  background: rgb(35,35,35);
  width: 20vw;
  height: 22vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  animation: jump-box2 10s ease-in-out infinite;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 699;
}



.gestao-area:last-child {
  justify-content: space-around;
}

.info-box {
  width: 38vw;
  background: rgb(255, 255, 255, 0.08);
  padding: 2vw;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.2);
}

.info-box h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 3vw;
  font-weight: 500;
}

.info-box h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1vw;
  font-weight: 300;
  margin-top: -1vh;
}

.info-box img {
  width: 60%;
  margin-top: 2vh;
}

.info-box p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2vw;
  font-weight: 300;
  margin-top: 4vh;
}