@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: initial;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: none;
  font-family: Poppins, sans-serif;
}

body {
  background: rgb(25, 25, 25);
  max-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.body-left {
    max-height: 100vh;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.body-left::after {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    border-radius: 20px;
    background: #df1c78;
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease all;
}

.body-left::before {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    background: #df1c78;
    filter: blur(35px);
    opacity: 1;
    z-index: 0;
    transition: 0.3s ease all;
    animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.body-left:hover::after {
    max-height: 100vh;
    height: 97vh;
    width: 19.5%;
}

.body-left:hover::before {
    max-height: 100vh;
    height: 97vh;
    width: 21.5%;
}

.inner-left {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    max-height: 100vh;
    border-radius: 20px;
    height: 92vh;
    width: 88%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    z-index: 10;
}


.user-box {
    width: 17.5vw;
    height: 22vh;
    padding: 15px 0px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);

}

.user-img {
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4);
}

.user-img img {
    width: 90%;
    border-radius: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.user-box h2 {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    margin-top: 1.5vh;
}

.user-box h3 {
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-top: -0.9vh;
}



.dash-menu {
    width: 17.5vw;
    display: flex;
    flex-direction: column;
    height: 56.5vh;
    margin-top: 3vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin-top: 2.5vh;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;

}

.dash-menu input {
    display: none;
}

.dash-overflow {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.dash-overflow::-webkit-scrollbar {
    width: 0.6vw;
}
  
.dash-overflow::-webkit-scrollbar-track {
    background: none;
}

.dash-overflow::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

.dash-overflow label {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15vw;
    margin-top: 1vh;
    padding: 1vh 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    transition: 0.2s ease all;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.dash-overflow label:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    cursor: pointer;
}

.dash-overflow label i {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.7);
}

.dash-overflow label h2 {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}





















.body-right {
    background: transparent;
    max-height: 100vh;
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-right {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    max-height: 100vh;
    border-radius: 20px;
    height: 92vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.dashboard-body {
    background: transparent;
    max-height: 100vh;
    height: 100vh;
    width: 95%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-overflow {
    width: 95%;
    height: 82vh;
    max-height: 86vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-overflow::-webkit-scrollbar {
    width: 0.6vw;
}
  
.right-overflow::-webkit-scrollbar-track {
    background: none;
}

.right-overflow::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}


.dashboard-body::after {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease all;
}

.dashboard-body::before {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    background: rgba(255, 255, 255, 0.0.2);
    filter: blur(35px);
    opacity: 1;
    z-index: 0;
    transition: 0.3s ease all;
    animation: pulse 5s ease-in-out infinite;
}



.dashboard-body:hover::after {
    max-height: 100vh;
    height: 97vh;
    width: 68%;
}

.dashboard-body:hover::before {
    max-height: 100vh;
    height: 97vh;
    width: 69%;
}


.welcome-area {
    background: rgba(255, 255, 255, 0.1);
    width: 92%;
    padding: 1.4vw;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    cursor: default;
}

.welcome-area h2 {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}

.welcome-area h3 {
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.money-area {
    width: 96%;
    padding: 3.5vh 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.money-box {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    padding: 2.5vh 0.6vw;
    border-radius: 10px;
    max-width: 30%;
    cursor: default;
}

.money-img {
    width: 8vw;
    background: #f0e768;
    height: 8vw;
    border-radius: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.money-box:nth-child(2) .money-img{
    background: #78f068;
}

.money-box:nth-child(3) .money-img{
    background: #f06868;
}

.money-img i {
    font-size: 6vw;
    color: rgba(255, 255, 255, 1);
}

.money-box h2 {
    font-size: 2.6vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-top: 2vh;
}

.money-box h3 {
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: -1.6vh;
    letter-spacing: 2px;
}








/*Graficos*/























/*tasks*/


.dashboard-body {
    position: relative;
    display: none;
}

.task-body {
    background: transparent;
    max-height: 100vh;
    height: 100vh;
    width: 95%;
    overflow-y: auto;
    /*display: flex;*/
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task-body::after {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease all;
}

.task-body::before {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    background: rgba(255, 255, 255, 0.0.2);
    filter: blur(35px);
    opacity: 1;
    z-index: 0;
    transition: 0.3s ease all;
    animation: pulse 5s ease-in-out infinite;
}



.task-body:hover::after {
    max-height: 100vh;
    height: 97vh;
    width: 68%;
}

.task-body:hover::before {
    max-height: 100vh;
    height: 97vh;
    width: 69%;
}

.task-board {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 60vw;
    height: 58vh;
    margin-top: 2.8vh;
    padding: 2.5vh 2.5vw;
    border-radius: 10px;
}

.task-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-buttons h2 {
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    text-align: start;
    width: 60%;
}

.task-buttons button {
    background: rgb(32, 228, 32);
    font-size: 1vw;
    padding: 1.5vh 1.5vw;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    cursor: pointer;
}

.task-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.2vh;
}

.task-text h3 {
    width: 15%;
    text-align: start;
    font-size: 0.9vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

.task-text h2 {
    width: 35%;
    text-align: start;
    font-size: 0.9vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

.task-btts {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.task-btts button {
    background: rgb(32, 228, 32);
    font-size: 0.8vw;
    padding: 1vh 0.8vw;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    cursor: pointer;
}

.task-btts button:last-child {
    background: rgb(228, 32, 32);
    font-size: 0.8vw;
    padding: 1vh 0.8vw;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    cursor: pointer;
}

.task-overflow {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;

}

.task-overflow::-webkit-scrollbar {
    width: 0.6vw;
}
  
.task-overflow::-webkit-scrollbar-track {
    background: none;
}

.task-overflow::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}


.task-overflow li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 0vw;
}

.task-overflow h2 {
    text-align: start;
    font-size: 0.9vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    word-break: keep-all;
}

.size-1 {
    width: 15%;
    text-align: start;
    overflow: hidden;
}

.size-2 {
    width: 35%;
    text-align: start;
    overflow: hidden;
}

.size-3 {
    width: 20%;
    text-align: start;
    overflow: hidden;
}



.task-create {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    /*display: flex;*/
    display: none;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 59.5vw;
    height: 58vh;
    margin-top: 2.8vh;
    padding: 2.5vh 2.5vw;
    border-radius: 10px;
}

.input-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 1vw;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.input-box h2 {
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

.who {
    width: 12vw;
}

.task-level {
    width: 12vw;
}

.name {
    width: 20vw;
}

.desc {
    width: 20vw;
}

.desc textarea {
    max-width: 90%;
    width: 90%;
    padding: 1vw;
    margin-top: 1vh;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    height: 27vh;
    max-height: 30vh;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.7vw;
}

.send {
    width: 10vw;
    text-align: center;
}

.send button {
    background: #78f068;
    width: 90%;
    padding: 7px;
    font-size: 1vw;
    margin-top: 1vh;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    

}

.name input {
    background: transparent;
    width: 98%;
    font-size: 1.2vw;
    padding: 0.2vw;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.quem {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-box label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 1vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1vh;
}

.option-input {
    appearance: none;
    position: relative;
    height: 1.8vw;
    width: 1.8vw;
    transition: all 0.2s ease-out;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 5px;
    margin-right: 1vw;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #df1c78;
}
.option-input:checked::before {
    height: 1.8vw;
    width: 1.8vw;
    display:flex;
    content: '\f00c';
    font-size: 1.2vw;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'Font Awesome 5 Free';
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

















/*Calendario*/



.calendar-body {
    background: transparent;
    max-height: 100vh;
    height: 100vh;
    width: 95%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendar-body::after {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease all;
}

.calendar-body::before {
    content: '';
    position: absolute;
    max-height: 97vh;
    height: 97vh;
    width: 0%;
    background: rgba(255, 255, 255, 0.0.2);
    filter: blur(35px);
    opacity: 1;
    z-index: 0;
    transition: 0.3s ease all;
    animation: pulse 5s ease-in-out infinite;
}



.calendar-body:hover::after {
    max-height: 100vh;
    height: 97vh;
    width: 68%;
}

.calendar-body:hover::before {
    max-height: 100vh;
    height: 97vh;
    width: 69%;
}

.calendar-board {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 60vw;
    height: 58vh;
    margin-top: 2.8vh;
    padding: 2.5vh 2.5vw;
    border-radius: 10px;
}

.inner-right2 {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    max-height: 100vh;
    border-radius: 20px;
    height: 92vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.calendar-right {
    width: 20vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    height: 85vh;
    border-radius: 20px;
}







.calendar-left {
    width: 45vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    height: 85vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.calendar-day {
    width: 18vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1vh 0vw;
    height: 30vh;
}

.calendar-day h2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 8vw;
    font-weight: 600;
}

.calendar-day h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: -5vh;
}

.especial-day {
    width: 18vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1vh 0vw;
    height: 30vh;
}

.create-day {
    width: 16vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create-day button {
    background: transparent;
    font-size: 1.1vw;
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 14vw;
    height: 5vh;
}

.select-area {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.select-area h2 {
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

/*Calendar Select-Box*/


.select-month {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5vw 1vw;
    outline: none;
    border-radius: 8px;
}


.select-month option {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.8);
    

}

.data-select {
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 2vh 0vw;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.data-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.data-text h2 {
    width: 14%;
    font-size: 0.9vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.data-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
}

.data-day button {
    width: 14%;
    font-size: 1vw;
    text-align: center;
    margin-top: 1vh;
    padding: 1vh 0vw;
    border-radius: 8px;
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    transition: 0.3s ease all;
}

.data-day button:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}