@media screen and (max-width: 800px) {
  .evolution-text {
    width: 90%;
  }

  .evolution-text h2 {
    font-size: 3vw;
  }

  .evolution-text h3 {
    font-size: 2vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 90%;
    height: 50vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 6vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2vw;
  }

  .aviso h4 {
    font-size: 1.5vw;
  }

  .aviso h2 {
    font-size: 2vw;
    margin-top: 1vh;
  }

  .link-rocket {
    font-size: 3vw;
  }

  .link-rocket:hover {
    cursor: default;
  }
}

@media screen and (max-width: 630px) {
  .evolution-text {
    width: 90%;
  }

  .evolution-text h2 {
    font-size: 3vw;
  }

  .evolution-text h3 {
    font-size: 2vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 90%;
    height: 40vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 6vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2vw;
  }

  .aviso h4 {
    font-size: 1.5vw;
  }

  .aviso h2 {
    font-size: 2vw;
    margin-top: 1vh;
  }

  .link-rocket {
    font-size: 2.5vw;
    padding: 1vh;
  }

  .link-rocket:hover {
    cursor: default;
  }
}

@media screen and (max-width: 500px) {
  .evolution-text {
    width: 100%;
  }

  .evolution-text h2 {
    font-size: 4vw;
  }

  .evolution-text h3 {
    font-size: 3vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 120%;
    height: 40vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 7vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2.8vw;
  }

  .aviso h4 {
    font-size: 2vw;
  }

  .aviso h2 {
    font-size: 4vw;
    margin-top: 1vh;
  }

  .link-rocket {
    font-size: 2.5vw;
  }

  .link-rocket:hover {
    cursor: default;
  }
}

@media screen and (max-width: 420px) {
  .evolution-text {
    width: 100%;
  }

  .evolution-text h2 {
    font-size: 4vw;
  }

  .evolution-text h3 {
    font-size: 3vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 100%;
    height: 30vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 7vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2.6vw;
  }

  .aviso h4 {
    font-size: 3vw;
  }

  .aviso h2 {
    font-size: 4vw;
    margin-top: 1vh;
  }

  .link-rocket {
    font-size: 3.5vw;
  }
}
