:root {
  --principal1: #822faf;
  --principal2: #ba00f3;
}


.evolution-area {
  width: 100%;
  margin-top: 10.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.evolution-text {
  width: 50%;
  text-align: center;
  cursor: default;
}

.evolution-text h2 {
  font-size: 1.8vw;
  color: rgba(255, 255, 255, 1);
  cursor: default;
}

.evolution-text span {
  color: var(--principal1);
  text-decoration: underline;
}

.evolution-text h3 {
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  cursor: default;
}

.rocket-info {
  width: 90%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rocket-decoration {
  width: 110vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 799;
}

.rocket-img {
  border-radius: 29% 71% 54% 46% / 44% 57% 43% 56%;
  width: 35vw;
  height: 70vh;
  background: linear-gradient(85deg, var(--principal2), var(--principal1));
  margin-left: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-img img {
  width: 85%;
  position: absolute;
  transform: rotate(5deg);
  margin-right: -4vw;
  margin-top: -10vh;
}

.boneco-img {
  border-radius: 70% 30% 30% 70% / 60% 45% 55% 40%;
  width: 35vw;
  height: 70vh;
  margin-left: 0%;
  position: relative;
  background: linear-gradient(85deg, var(--principal1), var(--principal2));
  display: flex;
  align-items: center;
  justify-content: center;
}

.boneco-img img {
  width: 85%;
  position: absolute;
  transform: rotate(0deg);
  margin-left: -80px;
  margin-top: -100px;
}

.rocket-numbers {
  width: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 899;
}

.rocket-box {
  width: 45%;
  height: 50%;
  background: rgb(55, 55, 55);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 2vh;
}

.rocket-box h2 {
  width: 90%;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 3vw;
  cursor: default;
}

.rocket-box .deco-text {
  color: var(--principal1);
  text-decoration: underline;
  font-weight: 500;
  width: 80%;
  cursor: pointer;
}

.rocket-box h3 {
  width: 90%;
  font-size: 1vw;
  text-align: center;
  color: white;
  font-weight: 400;
  cursor: default;
}

.rocket-box a {
  width: 80%;
}

.link-rocket {
  background: linear-gradient(45deg, var(--principal1), rgb(212, 5, 212));
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  font-size: 1.5vw;
  border-radius: 8px;
  margin-bottom: 2vh;
  border: 2px solid transparent;
  width: 100%;
  transition: 0.4s ease all;
  font-weight: 600;
}

.link-rocket:hover {
  cursor: pointer;
  border: 2px solid var(--principal1);
  letter-spacing: 2px;
  background: rgb(15, 15, 15);
  box-shadow: 0 0 1px var(--principal1), 0 0 5px var(--principal1), 0 0 10px var(--principal1),
    0 0 20px var(--principal1);
  color: var(--principal1);
}

.aviso {
  margin-top: 7vh;
  text-align: center;
}

.aviso h4 {
  color: rgba(255, 255, 255, 0.1);
  font-weight: 300;
  font-size: 1vw;
}

.aviso h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 1.4vw;
  margin-top: 1vh;
}

/* MOBILE PART */

@media screen and (max-width: 800px) {
  .evolution-text {
    width: 90%;
  }

  .evolution-text h2 {
    font-size: 3vw;
  }

  .evolution-text h3 {
    font-size: 2vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 90%;
    height: 50vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 6vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2vw;
  }

  .aviso h4 {
    font-size: 1.5vw;
  }

  .aviso h2 {
    font-size: 2vw;
    margin-top: 1vh;
  }

  .link-rocket {
    padding: 1.2vh 0vw;
    font-size: 3vw;
  }

  .link-rocket:hover {
    cursor: default;
  }
}

@media screen and (max-width: 630px) {
  .evolution-text {
    width: 90%;
  }

  .evolution-text h2 {
    font-size: 3vw;
  }

  .evolution-text h3 {
    font-size: 2vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 90%;
    height: 40vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 6vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2vw;
  }

  .aviso h4 {
    font-size: 1.5vw;
  }

  .aviso h2 {
    font-size: 2vw;
    margin-top: 1vh;
  }

  .link-rocket {
    padding: 1.2vh 0vw;
    font-size: 2.5vw;
  }

  .link-rocket:hover {
    cursor: default;
  }
}

@media screen and (max-width: 500px) {
  .evolution-text {
    width: 100%;
  }

  .evolution-text h2 {
    font-size: 4vw;
  }

  .evolution-text h3 {
    font-size: 3vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 120%;
    height: 40vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 7vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2.8vw;
  }

  .aviso h4 {
    font-size: 2vw;
  }

  .aviso h2 {
    font-size: 4vw;
    margin-top: 1vh;
  }

  .link-rocket {
    padding: 1.2vh 0vw;
    font-size: 2.5vw;
  }

  .link-rocket:hover {
    cursor: default;
  }
}

@media screen and (max-width: 420px) {
  .evolution-text {
    width: 100%;
  }

  .evolution-text h2 {
    font-size: 4vw;
  }

  .evolution-text h3 {
    font-size: 3vw;
  }

  .rocket-decoration {
    display: none;
  }

  .rocket-info {
    margin-top: 3vh;
  }

  .rocket-numbers {
    width: 120%;
    height: 30vh;
  }

  .rocket-box h2 {
    width: 90%;
    font-size: 7vw;
  }

  .rocket-box .deco-text {
    width: 80%;
    cursor: default;
  }

  .rocket-box h3 {
    width: 90%;
    font-size: 2.6vw;
  }

  .aviso h4 {
    font-size: 3vw;
  }

  .aviso h2 {
    font-size: 4vw;
    margin-top: 1vh;
  }

  .link-rocket {
    padding: 1.2vh 0vw;
    font-size: 3.5vw;
  }
}
