.top-box {
  width: 90%;
  height: 60vh;
  border: 2px solid #dd00ff;
  border-radius: 40px;
  margin-top: 5vh;
  transition: 0.8s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-box:hover {
  box-shadow: 0 0 5px #dd00ff, 0 0 25px #dd00ff, 0 0 50px #dd00ff,
    0 0 100px #dd00ff;
}

.inner-box {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  animation: gradient 1s ease all;
}

.inner-box h2 {
  width: 40%;
  font-size: 3.5vw;
  color: rgba(255, 255, 255);
  cursor: default;
}

.right-img {
  width: 60%;
  height: 62vh;
  background: linear-gradient(45deg, #dd00ff, purple);
  border-radius: 30px;
  overflow: hidden;
}

.right-img img {
  width: 170%;
  margin-top: -51px;
  margin-left: -20px;
}

@media screen and (max-width: 920px) {
  .top-box {
    height: fit-content;
    padding: 3vh;
  }
  .inner-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-box h2 {
    width: 100%;
    text-align: center;
  }

  .right-img img {
    width: fit-content;
  }

  .right-img {
    width: 100%;
  }
}
