@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: initial;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
    font-family: Poppins,sans-serif;
}

body {
    background: #11001c;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 15vh;

}

.nav-top {
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-top img {
    width: 200px;
}

.nav-sections {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-sections a {
    background: transparent;
    color: rgba(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s ease all;
}

.nav-sections a:first-child {
    color: rgba(255, 255, 255,0.6);
}

.nav-sections a:hover {
    color: #dd00ff;
    cursor: pointer;
}

.nav-mid {
    width: 90%;
    margin-top: 5vh;
}

.nav-mid h2 {
    font-size: 50px;
    color: rgba(255, 255, 255);
    width: 60%;
}

.top-box {
    width: 90%;
    height: 60vh;
    border: 2px solid #dd00ff;
    border-radius: 40px;
    margin-top: 5vh;
    transition: 0.4s ease all;
}

.top-box:hover {
    box-shadow: 0px 0px 1px #dd00ff,
                0px 0px 1px #dd00ff;
}   