.nav-mobile {
  display: none;
  width: 100%;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 12vh;
  z-index: 999;
}

.inner-nav {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-nav img {
  width: 18vw;
}

/*Menu*/

#check-menu {
  display: none;
}

.menu-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10000;
  position: fixed;
  margin-left: 80vw;
}

.menu-background {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  backdrop-filter: blur(1px);
  background: rgba(15, 15, 15, 0.4);
  top: 0;
  left: 0;
  margin-left: -110vw;
  opacity: 1;
  transition: 0.3s ease all;
}

.menu-icon span {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;
}

.menu-icon span::before {
  position: absolute;
  content: "";
  margin-top: -8px;
  width: 35px;
  height: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;
}

.menu-icon span::after {
  position: absolute;
  content: "";
  margin-top: 8px;
  width: 35px;
  height: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255);
  transition: 0.3s ease all;
}

.check-menu:checked ~ .menu-icon span::before {
  margin-top: 0px;
}

.check-menu:checked ~ .menu-icon span {
  transform: rotate(45deg);
}

.check-menu:checked ~ .menu-icon span::after {
  transform: rotate(85deg);
  margin-top: 0;
}

.check-menu:checked ~ .menu-background {
  margin-left: 0vw;
}

.menu-box {
  position: fixed;
  width: 40vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  top: 0;
  right: 0;
  padding: 80px 20px;
  z-index: 9999;
  margin-right: -60vw;
  transition: 0.3s ease all;
  box-shadow: -20px 0 20px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.check-menu:checked ~ .menu-box {
  margin-right: 0;
}

.menu-box a {
  color: white;
  margin-top: 2vh;
  font-size: 120%;
  width: 90%;
  text-align: center;
  background: rgb(255, 255, 255, 0);
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(15, 15, 15, 0.19);
  padding: 8px 0px;
}

.header {
  display: flex;

  width: 100%;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 15vh;

  margin-bottom: 10vh;
}

.nav-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-top img {
  width: 14vw;
  transition: 0.3s ease all;
}

.nav-top img:hover {
  transform: translateY(-5px);
}

.nav-sections {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-sections a {
  background: transparent;
  color: rgba(255, 255, 255);
  font-size: 1.1vw;
  font-weight: 400;
  transition: 0.3s ease all;
}

.nav-sections a:hover {
  transform: translateY(-5px);
}

.nav-sections a:first-child {
  color: rgba(255, 255, 255, 0.6);
}

.nav-sections a:hover {
  color: var(--principal1);
  cursor: pointer;
}

.nav-mid {
  width: 90%;
  margin-top: 5vh;
}

.nav-mid h2 {
  font-size: 50px;
  color: rgba(255, 255, 255);
  width: 60%;
}

@media screen and (max-width: 1100px) {
  .nav-sections a {
    font-size: 1.5vw;
  }
}

/*Menu & Nav responsive*/

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .inner-nav img {
    width: 19vw;
  }
}

@media screen and (max-width: 530px) {
  .inner-nav img {
    width: 25vw;
  }
}

@media screen and (max-width: 450px) {
  .inner-nav img {
    width: 28vw;
  }

  .menu-icon {
    margin-left: 78vw;
  }
}

@media screen and (max-width: 360px) {
  .inner-nav img {
    width: 30vw;
  }
  .menu-icon {
    margin-left: 73vw;
  }
}
