.header {
  display: flex;
  width: 100%;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 15vh;
  z-index: 999;
}

.nav-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-top img {
  width: 15vh;
  margin-right: 10%;
  flex: 1;
}

.nav-sections {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-sections a {
  background: transparent;
  color: rgba(255, 255, 255);
  font-size: 2.5vh;
  font-weight: 400;
  transition: 0.3s ease all;
}

.nav-sections a:first-child {
  color: rgba(255, 255, 255, 0.6);
}

.nav-sections a:hover {
  color: #dd00ff;
  cursor: pointer;
}

.nav-mid {
  width: 90%;
  margin-top: 5vh;
}

.nav-mid h2 {
  font-size: 50px;
  color: rgba(255, 255, 255);
  width: 60%;
}
