.parceiros {
  width: 100%;
  align-self: center;
}

.slider {
  width: 80%;
  height: 22vh;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 3vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

.parceiro-box {
  width: 15vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  position: relative;
  transition: 0.3s ease all;
}

.parceiro-box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.parceiro-box::before {
  content: "";
  width: 0vw;
  height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  background: var(--principal1);
  transition: 0.3s ease all;
}

.parceiro-box::after {
  content: "";
  width: 0vw;
  height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  filter: blur(10px);
  background: var(--principal1);
  transition: 0.5s ease all;
}

.parceiro-box:hover::before,
.parceiro-box:hover::after {
  width: 13vw;
  height: 13vh;
}

.parceiro-box-inner {
  position: absolute;
  width: 15vw;
  height: 3vh;
  padding: 25px 0px;
  left: 0;
  background: rgb(255, 255, 255, 0.08);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.parceiro-box-inner img {
  width: 60%;
  position: relative;
}

.slider-control {
  z-index: 999;
}

.ctrl-btn {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: transparent;
  position: absolute;
  margin-top: -2.5vh;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: rgb(35, 35, 35);
  transition: 0.3s ease all;
}

.ctrl-btn:hover {
  color: var(--principal1);
}

.ctrl-btn i {
  margin-left: -2px;
}

.ctrl-btn:last-child i {
  margin-right: -4px;
}
