.top-box {
  height: 37vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

.top-box-mobile {
  display: none;
}

.top-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.top-text h2 {
  font-size: 3.7vw;
  color: rgb(255, 255, 255);
  font-weight: 900;
  letter-spacing: 2px;
  cursor: default;
  line-height: 4.5vw;
}

.top-text h2 span {
  color: rgba(255, 255, 255);
}

.top-text h2 span:last-child {
  color: var(--principal1);
  text-decoration: none;
}

.top-text p {
  font-size: 0.9vw;
  color: rgb(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
  cursor: default;
  margin-top: 2vh;
}

.top-text p span {
  color: var(--principal1);
}

.top-buttons {
  width: 30vw;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore {
  background: var(--principal1);
  max-width: 40%;
  width: 40%;
  padding: 5px 0px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2vh;
  font-weight: 500;
  border: 2px solid var(--principal1);
  transition: 0.3s ease all;
}

.explore:hover {
  background: transparent;
  border: 2px solid var(--principal1);
  cursor: pointer;
}

.read {
  display: flex;
  width: 40%;
  align-items: center;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease all;
  justify-content: center;
}

.read:hover {
  cursor: pointer;
  color: var(--principal1);
}

.play {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: rgb(35, 35, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.play i {
  font-size: 11px;
  margin-left: 2px;
}

.user-online {
  display: flex;
  align-items: center;
  margin-top: 3.5vh;
  cursor: default;
}

.perfil-boxes {
  display: flex;
  align-items: center;
}

.perfil-box {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: rgb(35, 35, 35);
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  color: rgb(252, 231, 255);
  font-weight: 700;
}

.perfil-box img {
  width: 100%;
  border-radius: 100%;
}

.user-online h3 {
  font-size: 1vw;
  font-weight: 600;
  margin-left: 0.8vw;
  color: var(--principal1);
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background: #e74aff;
  margin-right: 5px;
  border-radius: 10px;
}

.dot::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: #e74aff;
  margin-right: 5px;
  border-radius: 10px;
  filter: blur(3px);
}

.top-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.top-right::before {
  position: absolute;
  content: "";
  filter: blur(35px);
  width: 100%;
  height: 100%;
  background: var(--principal1);
  border-radius: 45px;
  transform: skewX(-20deg);
  margin-right: -10vw;
  animation: pulse-top 5s ease-in-out infinite;
}

@keyframes pulse-top {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-box {
  width: 100%;
  height: 100%;
  background: var(--principal1);
  border-radius: 35px;
  transform: skewX(-20deg);
  margin-right: -10vw;
  display: flex;
  align-items: center;
  z-index: 0;
}

.img-box img {
  width: 42vw;
  transform: skewX(20deg);
  margin-left: -15vw;
  margin-top: -10vh;
  z-index: 999;
}

@keyframes lampada {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
