@media screen and (max-width: 800px) {
  .top-box {
    height: auto;
    width: 100%;
    margin-top: 2vh;
    align-items: flex-start;
  }

  .top-left {
    width: 100%;
    align-items: flex-start;
  }

  .top-right {
    display: none;
  }

  .top-text {
    width: 90%;
  }

  .top-text h2 {
    font-size: 4vw;
    line-height: 5vw;
    text-align: center;
  }

  .top-text p {
    font-size: 1.6vw;
    margin-top: 5vh;
    z-index: 999;
    text-align: center;
  }

  .top-buttons {
    width: 80vw;
    margin-top: 3vh;
  }

  .user-online h3 {
    font-size: 2vw;
    margin-left: 2vw;
  }

  .explore:hover {
    cursor: default;
  }

  .read:hover {
    cursor: default;
  }

  .top-buttons {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .read {
    display: none;
  }

  .explore {
    background: var(--principal1);
    max-width: 30%;
    width: 30%;
    padding: 10px 0px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2vw;
    font-weight: 500;
    border: 2px solid var(--principal1);
    transition: 0.3s ease all;
  }

  @keyframes pulse-top {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .top-box-mobile {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 6vh;
  }

  .img-box-mobile {
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(-20deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .img-box-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(0deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
    filter: blur(35px);
    animation: pulse-top 5s ease infinite;
  }

  .img-box-mobile img {
    width: 48vw;
    transform: skewX(20deg);
    margin-left: -20vw;
    margin-top: -10vh;
    z-index: 999;
  }
}

@media screen and (max-width: 665px) {
  .top-text h2 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .top-text p {
    font-size: 2vw;
    margin-top: 6.5vh;
  }

  .top-box-mobile {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 8vh;
  }

  .img-box-mobile {
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(-20deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .img-box-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(0deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
    filter: blur(35px);
    animation: pulse-top 5s ease infinite;
  }

  .img-box-mobile img {
    width: 65vw;
    transform: skewX(20deg);
    margin-left: -28vw;
    margin-top: -10vh;
    z-index: 999;
  }

  .explore {
    max-width: 35%;
    width: 35%;
    font-size: 3vw;
  }
}

@media screen and (max-width: 530px) {
  .top-box {
    height: auto;
    width: 100%;
    margin-top: 0vh;
    align-items: flex-start;
  }

  .top-left {
    width: 100%;
    align-items: flex-start;
  }

  .top-text h2 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .top-text p {
    font-size: 2.7vw;
    margin-top: 5.5vh;
  }

  .top-box-mobile {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 7vh;
  }

  .img-box-mobile {
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(-20deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .img-box-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(0deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
    filter: blur(35px);
    animation: pulse-top 5s ease infinite;
  }

  .img-box-mobile img {
    width: 75vw;
    transform: skewX(20deg);
    margin-left: -35vw;
    margin-top: -10vh;
    z-index: 999;
  }

  .top-buttons {
    width: 100%;
    margin-top: 2vh;
  }

  .explore {
    max-width: 45%;
    width: 45%;
    font-size: 4vw;
  }

  .user-online h3 {
    font-size: 2vw;
    margin-left: 2vw;
  }
}

@media screen and (max-width: 450px) {
  .top-text h2 {
    font-size: 4.8vw;
    line-height: 5vw;
  }

  .top-text p {
    font-size: 3.1vw;
    margin-top: 6vh;
  }

  .top-box-mobile {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 8vh;
  }

  .img-box-mobile {
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(-20deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .img-box-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(0deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
    filter: blur(35px);
    animation: pulse-top 5s ease infinite;
  }

  .img-box-mobile img {
    width: 80vw;
    transform: skewX(20deg);
    margin-left: -37vw;
    margin-top: -10vh;
    z-index: 999;
  }

  .explore {
    max-width: 45%;
    width: 45%;
    font-size: 4vw;
  }
  .top-buttons {
    width: 100%;
    margin-top: 3vh;
  }

  .user-online h3 {
    font-size: 3.5vw;
    margin-left: 2vw;
  }
}

@media screen and (max-width: 375px) {
  .top-text h2 {
    font-size: 4.6vw;
    line-height: 5vw;
  }

  .top-text p {
    font-size: 3.3vw;
    margin-top: 7vh;
  }

  .top-box-mobile {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 8vh;
  }

  .img-box-mobile {
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(-20deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .img-box-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--principal1);
    border-radius: 25px;
    transform: skewX(0deg);
    margin-right: -45vw;
    display: flex;
    align-items: center;
    z-index: 0;
    filter: blur(35px);
    animation: pulse-top 5s ease infinite;
  }

  .img-box-mobile img {
    width: 97vw;
    transform: skewX(20deg);
    margin-left: -46vw;
    margin-top: -10vh;
    z-index: 999;
  }

  .user-online h3 {
    font-size: 4vw;
    margin-left: 3vw;
  }
}
