@media screen and (max-width: 800px) {
  .about-us {
    margin-top: 1vh;
  }

  .top-division {
    height: 70vh;
    margin-top: 6vh;
  }

  .about-text h2 {
    font-size: 4vw;
    color: rgba(255, 255, 255, 1);
    cursor: default;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 90%;
    height: 100%;
  }

  .about-right h2 {
    font-size: 9.7vw;
    line-height: 80px;
  }

  .about-right h3 {
    margin-top: 1.5vh;
    font-size: 2vw;
  }

  .resultados {
    margin-top: 5vh;
  }

  .resultados-number {
    font-size: 10vw;
  }

  .plus {
    font-size: 5vw;
    margin-left: -3.5vw;
  }

  .resultados-box h3 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    margin-top: 1vh;
  }

  .top-division {
    height: 70vh;
    margin-top: 6vh;
  }

  .about-text h2 {
    font-size: 4vw;
    color: rgba(255, 255, 255, 1);
    cursor: default;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 90%;
    height: 100%;
  }

  .about-right h2 {
    font-size: 9.7vw;
    line-height: 60px;
  }

  .about-right h3 {
    margin-top: 1.5vh;
    font-size: 2.7vw;
  }

  .resultados {
    margin-top: 5vh;
  }

  .resultados-number {
    font-size: 12vw;
  }

  .plus {
    font-size: 5vw;
    margin-left: -3.5vw;
  }

  .resultados-box h3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 537px) {
  .about-us {
    margin-top: 1vh;
  }

  .top-division {
    height: 70vh;
    margin-top: 6vh;
  }

  .about-text h2 {
    font-size: 4vw;
    color: rgba(255, 255, 255, 1);
    cursor: default;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 90%;
    height: 100%;
  }

  .about-right h2 {
    font-size: 9.5vw;
    line-height: 55px;
  }

  .about-right h3 {
    margin-top: 1.5vh;
    font-size: 2.8vw;
  }

  .resultados {
    margin-top: 5vh;
  }

  .resultados-number {
    font-size: 12.5vw;
  }

  .plus {
    font-size: 5vw;
    margin-left: -3.5vw;
  }

  .resultados-box h3 {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 425px) {
  .about-us {
    margin-top: 1vh;
  }

  .top-division {
    height: 70vh;
    margin-top: 6vh;
  }

  .about-text h2 {
    font-size: 5.5vw;
    color: rgba(255, 255, 255, 1);
    cursor: default;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 90%;
    height: 100%;
  }

  .about-right h2 {
    font-size: 12vw;
    line-height: 55px;
  }

  .about-right h3 {
    margin-top: 1.5vh;
    font-size: 3.2vw;
  }

  .resultados {
    margin-top: 5vh;
  }

  .resultados-number {
    font-size: 14vw;
  }

  .plus {
    font-size: 6vw;
    margin-left: -3.5vw;
  }

  .resultados-box h3 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 350px) {
  .about-us {
    margin-top: 1vh;
  }

  .top-division {
    height: 70vh;
    margin-top: 6vh;
  }

  .about-text h2 {
    font-size: 6vw;
    color: rgba(255, 255, 255, 1);
    cursor: default;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 90%;
    height: 100%;
  }

  .about-right h2 {
    font-size: 12.6vw;
    line-height: 45px;
  }

  .about-right h3 {
    margin-top: 1.8vh;
    font-size: 3.5vw;
  }

  .resultados {
    margin-top: 5vh;
  }

  .resultados-number {
    font-size: 13vw;
  }

  .plus {
    font-size: 5vw;
    margin-left: -3.5vw;
  }

  .resultados-box h3 {
    font-size: 3vw;
  }
}
