.about-us {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  flex-direction: column;
}

.about-text {
  text-align: center;
  cursor: default;
  margin-top: 12vh;
}

.about-text h2 {
  font-size: 1.8vw;
  color: rgba(255, 255, 255, 1);
  cursor: default;
}

.about-text span {
  color: var(--principal1);
  text-decoration: underline;
}

.top-division {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-top: 12vh;
}

.about-left {
  width: 45%;
  height: 100%;
  position: relative;
}

.about-left::before {
  position: absolute;
  content: "";
  filter: blur(35px);
  width: 100%;
  height: 100%;
  background: var(--principal1);
  border-radius: 45px;
  margin-left: -10vw;
  transform: skewX(-20deg);
  animation: pulse-top 5s ease-in-out infinite;
}

@keyframes pulse-top {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-img {
  width: 125%;
  height: 100%;
  background: var(--principal1);
  border-radius: 35px;
  transform: skewX(-20deg);
  margin-left: -19vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
}

.about-img img {
  width: 82%;
  transform: skewX(20deg);
  margin-right: -8vw;
  margin-top: -10vh;
  z-index: 999;
}

.about-right {
  width: 45%;
  height: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.about-right h2 {
  font-size: 3.3vw;
  line-height: 55px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5px;
  font-weight: 900;
}

.about-right span {
  color: var(--principal1);
}

.about-right h3 {
  margin-top: 1.5vh;
  font-size: 0.9vw;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.resultados {
  display: flex;
  margin-top: 8vh;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.resultados-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultados-box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.resultados-number {
  font-weight: 600;
  font-size: 4.5vw;
  color: var(--principal1);
}

.plus {
  font-size: 1.7vw;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  margin-left: -1.5vw;
}

.resultados-box h3 {
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.8);
}
